.frameBox {
  padding: 20px;
  margin-top: 20px;
}

.summarybox {
  position: relative;
  width: 100%;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  display: block;

}
.cardBoxes{
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.summaryHeader {
  text-align: start;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--blue);
}

.card1,
.card2,
.card3,
.card4 {
  position: relative;
  padding: 30px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.card1 {
  background-color: #ffe2e5;
}

.card2 {
  background-color: #fff4de;
}

.card3 {
  background-color: #dcfce7;
}

.card4 {
  background-color: #dff2ff;
}

.numbers {
  position: relative;
  font-weight: 400;
  font-size: 2.2rem;
  color: #000000a6;
}

.cardName {
  color: var(--black2);
  font-size: 1.1rem;
  margin-top: 5px;
}

.iconBox .cardIcon {
  font-size: 2.5rem;
  color: var(--black2);
}

@media (max-width: 991px) {
  .cardBoxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .cardBoxes {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 586px) {
  .cardBoxes {
    grid-template-columns: repeat(1, 1fr);
  }
}
