.details {
  position: relative;
  width: 100%;
  padding: 20px;
  /* margin-top: 10px; */
}

.details .allSuppliers{
  position: relative;
  display: grid;
  background: var(--white);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.details .cardHeader{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 25px;
}
.cardHeader h2{
  font-weight: 600;
  color: var(--blue);
}
.cardHeader .btn{
  position: relative;
  padding: 5px 10px;
  background: var(--blue);
  text-decoration: none;
  color: var(--white);
  border-radius: 6px;
}

.details table{
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}
.details table thead  td{
  font-weight: 600;
}

.details .allSuppliers table tr{
  color: var(--black);
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.details .allSuppliers table tr:last-child{
  border-bottom: none;
}

.details .allSuppliers table tbody tr:hover{
  background: var(--blue);
  color: var(--white);
}

.details .allSuppliers table tr td{
  padding: 10px;
}
.details .allSuppliers table tr td:last-child{
  text-align: end;
}

.details .allSuppliers table tr td:nth-child(1){
  text-align: end;
}
.allSuppliers{
  overflow-x: auto;
}

.actionBtn{
  cursor: pointer;
  width: 19px;
  height: 19px;
}


@media(max-width: 768px){
  .details {
    grid-template-columns: 1fr;
  }
  .allSuppliers{
    overflow-x: auto;
  }
}

@media(max-width: 586px) {
  .cardHeader h2{
    font-size: 20px;
  }
}

